[submodule "middleware/ctl-frontend"]
	path = middleware/ctl-frontend
	url = ../ctl-frontend.git
[submodule "connectors/bitstamp/md"]
	path = connectors/bitstamp/md
	url = ../bitstamp-md.git
[submodule "middleware/obcache"]
	path = middleware/obcache
	url = ../obcache.git
[submodule "connectors/ibtws/acmd"]
	path = connectors/ibtws/acmd
	url = ../ibtws-acmd.git
[submodule "utils"]
	path = utils
	url = ../utils.git
[submodule "middleware/submgr"]
	path = middleware/submgr
	url = ../submgr.git
[submodule "middleware/sub2snap"]
	path = middleware/sub2snap
	url = ../sub2snap.git
